@font-face {
  src: url("fonts/MyriadPro-Regular.ttf");
  font-family: "Myriad Pro";
}
@font-face {
  src: url("fonts/FiraSansExtraCondensed-Black.ttf");
  font-family: "FiraSansExtraCondensed-Black";
}

*,
:after,
::before {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}
