doctype html
html(lang="ru")
  include ../blocks/head/head.jade
  body
    include ../blocks/header/header.jade

    main

      section.section
        h2.title.title_search РЕЗУЛЬТАТ ПОИСКА
        
        
        .table
          .row.table__row.table__row_head
            .col-md-3
              .table__th Планировка
            .col-md-3
              .table__th Комнатность
            .col-md-3
              .table__th Площадь
            .col-md-3
              .table__th Цена

            .table__underline.table__underline_top
            
          .table__body
            - var rowCount = 24;
            - for (var i = 0; i < rowCount; i++)
              .row.table__row
                a.table__row-link(href="#")
                .col-md-3.table__cell.table__cell_img
                  img.table__product-img(src='img/table-product-image.jpg', alt='планировка')
                .col-md-3.table__cell.table__cell_title
                  .table__text.table__text_bold-md Двухкомнатная №14
                  .table__text Корпус 24, Секция 1
                .col-md-3.table__cell
                  .table__th.table__th_mobile Площадь
                  .table__text 48м
                    sup 2
                .col-md-3.table__cell.table__cell_price
                  .table__th.table__th_mobile Цена
                  .table__text.table__text_purple 3 680 476 руб
                  
          .table__underline.table__underline_bottom
          
        button.button.mt-6 узнать подробнее

            
